# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
cookies.txt

# Project specific
downloads/
static/thumbnails/
*.txt
!requirements.txt
!DEPENDENCIAS OBLIGATORIAS.txt
!Readme.txt

# OS
.DS_Store
Thumbs.db
